@media (max-width: 575.98px)
  .games-list
    grid-template-columns: repeat(2, 1fr) 
  .menu-mobile
    display: block
  .burger
    display: inline-block
  .cat-menu
    display: none
  *
    font-size: 8px
  .logo
    margin-left: 15px
  .container
    padding: 0
  .footer
    padding: 0px 10px
@media (max-width: 380px)
  .games-list
    grid-template-columns: repeat(1, 1fr) 