@media (max-width: 991.98px)
  *
    font-size: 8px
  .header .header-search
    width: auto
  .games-list
    grid-template-columns: repeat(3, 1fr)
  .sgame-similar__list
    grid-template-columns: repeat(3, 1fr)
  .favs-list
    grid-template-columns: repeat(3, 1fr)
  