.sgame
  flex-flow: wrap
  display: flex
  flex-direction: column
  & hr
    color: #FFF
    background-color: rgba(220, 220, 220, .07)
    border: 0px none
    height: 1px
    margin: 20px
  & h1 
    font-size: 2.2rem 
    font-family: Montserrat, sans-serif
    letter-spacing: 0.1em
    line-height: 1.2em
    padding: 0
    margin: 0
    margin-bottom: 10px
    font-weight: 500
    color: #fff
  &-info
    position: relative
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    &__img
      width: 35%
      position: relative
      & img
        width: 100%
    &__descr
      width: 63%
      & h1 
        font-size: 2.2rem 
      & p
        font-family: Raleway, sans-serif
        font-size: 1.8rem
        font-weight: 300
        color: #fff
        line-height: 1.3em
        // letter-spacing: 0.1em

  &-content
    position: relative
    z-index: 96
    & h1 
      font-size: 2.6rem
    &__game
      width: 100%
      height: 80vh
      & iframe
        width: 100%
        height: 100%  
    &__panel
      background-color: rgba(21, 23, 37, .7)
      position: relative
      height: 40px
      width: 100%
      color: #fff
      display: flex
      align-items: center
      justify-content: space-between

      &-buttons
        width: 20%
        justify-content: flex-end
        position: relative
        display: flex
      &-favourites
        margin-left: 10px
        filter: blur(.5px)
        & .infavs
          fill: rgba(255, 0, 0, .6)
          filter: drop-shadow(0px 0px 5px #ff0000)
        & svg 
          transition: .4s all ease
          cursor: pointer
          width: 30px
          fill: rgba(255, 255, 255, .6)
          filter: drop-shadow(0px 0px 5px #fff)
      &-darken
        height: 100%
        cursor: pointer
        padding: 0px 10px
        & .lights
          & path
            &:nth-child(5)
              opacity: 0
            &:nth-child(6)
              opacity: 0
            &:nth-child(7)
              opacity: 0
            &:nth-child(8)
              opacity: 0
            &:nth-child(9)
              opacity: 0
        & svg
          width: 30px
          & path 
            opacity: 1
            transition: .4s all ease
            fill: #fff
            filter: drop-shadow(0px 0px 3px #fff)
      &-reinit
        padding: 0px 10px
        cursor: pointer
        transition: none
        &.reload
          transform: rotate(360deg)
          transition: .4s all ease
        & svg
          width: 30px
          transform: rotateY(180deg)
          & path 
            fill: #fff
      &-fullscreen
        padding: 0px 10px
        cursor: pointer
        & svg
          width: 30px
        
  &-similar
    & span 
      font-size: 2.4rem
      color: #fff 
      font-weight: 500
      line-height: 1.2em
      letter-spacing: 0.1em
      font-family: Montserrat, sans-serif
      display: block
      margin-bottom: 10px
    &__list
      display: grid
      grid-template-columns: repeat(4, 1fr)
      grid-gap: 15px


.darken-mode
  position: fixed
  top: 0
  left: 0
  background-color: rgba(0, 0, 0, .7)
  width: 100% 
  height: 100%
  z-index: 95
  transition: .4s all ease
  opacity: 0
  visibility: hidden
.mode-active
  transition: .4s all ease
  opacity: 1
  visibility: visible






.sgame-content.fullscreen
  position: fixed
  background-color: #000
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 99
  & .sgame-content__game
    height: 100vh



.delgame
  color: #fff
  font-size: 1.8rem