#main
  // background: #1D3C45
  background-image: url(../img/lowpoly2.png)
  background-color: rgba(46, 47, 48, 1)
  backdrop-filter: blur(10px)
  background-size: cover
  background-attachment: fixed
  box-shadow: inset 0px 0px 350px rgba(0, 0, 0, 0.5)
  padding-top: 100px

.main
  padding: 20px
  background-color: rgba(46, 47, 48, .4)
  box-shadow: inset 0px 0px 350px rgba(0, 0, 0, 0.5)